{
  "env": {
    "dev": {
      "plugins": ["lodash"],
      "presets": [["preact-cli/babel", { "modules": "commonjs" }]]
    },
    "production": {
      "plugins": ["lodash"],
      "presets": [["preact-cli/babel", { "modules": "commonjs" }]]
    }
  }
}
