.container {
  border-left: 2px solid var(--bright-red);
  padding-left: 1rem;
  max-width: 416px;
  margin: 5rem 0;
}

.author {
  font-style: italic;
  margin-top: 0.5rem;
}

@media screen and (max-width: 532px) {
  .container {
    max-width: 311px;
  }
}
