.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  position: relative;
  margin: 2rem auto;
}

@media screen and (max-width: 798px) {
  body .app {
    margin-top: 9rem;
  }
}

@media screen and (max-width: 414px) {
  #logo {
    width: 200px;
  }

  h1 {
    font-size: 2rem;
  }
}
