.divider {
  width: 100%;
  max-width: 500px;
  border-left: 2px solid var(--light-gray);
  border-right: 2px solid var(--light-gray);
  border-top: 2px solid var(--light-gray);
  height: 4rem;
}

@media screen and (max-width: 532px) {
  .divider {
    max-width: 311px;
    margin: auto;
  }
}
