.form {
  display: flex;
  flex-direction: column;
}

.button {
  border: 4px solid var(--default);
  border-radius: 0.25rem;
  color: var(--white);
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  padding: 0.5rem 1rem;
  margin-top: 1.5rem;
  background-color: var(--bright-orange);
}
