.navShow {
  opacity: 1;
  transition: opacity 1s ease-in;
  position: fixed;
  top: 2rem;
  left: 2rem;
}

.navHidden {
  position: fixed;
  top: 2rem;
  left: 2rem;
  pointer-events: none;
  opacity: 0;
}

.navOption {
  color: var(--default);
  font-weight: 700;
  margin: 0.25rem 0;
  cursor: pointer;
}

.navOption a {
  color: var(--default);
  text-decoration: none;
  opacity: 0.6;
}

.navOption a:visited {
  color: var(--default);
}

.navOption a:hover {
  opacity: 0.8;
}

.navOption .active {
  color: var(--default);
  opacity: 1;
}

.navList {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 798px) {
  body .navShow {
    opacity: 1;
    transition: opacity 1s ease-in;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 4rem;
    background-color: var(--default);
    box-shadow: 0 3px 6px rgba(175, 184, 193, 0.16), 0 3px 6px rgba(175, 184, 193, 0.23);
    z-index: 1001;
  }

  .navList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navList .navOption a {
    color: var(--white);
  }
}

@media screen and (max-width: 532px) {
  body .navShow {
    padding: 2rem;
  }
}
